@model AlloyTechEpi10.Models.Pages.LandingPage
<div class="campaign-wrapper">
    @Html.PropertyFor(x => x.MainContentArea, new { CssClass = "row equal-height", tag = Global.ContentAreaTags.FullWidth })
</div>
